@tailwind base;
@tailwind components;
@tailwind utilities;


/* ... */

@layer base {
  :root {
    --radius: 0.5rem
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: white;
}

html.dark {
  background-color: #0B0B0F;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
